extends layout

block content
  div.container-fluid
    div.top.col-lg-12.col-md-12.col-sm-12.col-xs-12
      h1= 'International Space Station'
      div.stats
        p#lat Latitude: #{data.latitude}
        p#lon Longitude: #{data.longitude}
        p#alt Altitude: #{data.altitude}
        p#vel Velocity: #{data.velocity}
    div#map.col-lg-12.col-md-12.col-sm-12.col-xs-12
  

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='/javascripts/googleMap.js')
  script(src='/javascripts/nite-overlay.js')
  script(src='/javascripts/analytics.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCcyBT95IoltEkMk4_UGa9M6cJ-YHsBdlQ&callback=initMap')
