extends layout

block content
  <!-- Wrapper -->
  div.container

    <!-- Nav -->
    nav#mainNav.navbar.navbar-inverse.navbar-fixed-top.affix-top
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#myNav")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href="#page-top") International Space Station
        div#myNav.collapse.navbar-collapse(name="map")
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll(href="#map") Map
            li
              a.page-scroll(href="#video") Live Video
            li
              a.page-scroll(href="#about") About
            li
              a.page-scroll(href="#contact") Contact
    
    <!-- Top -->
    div.top.col-lg-12.col-md-12.col-sm-12.col-xs-12
      <!-- h1= 'International Space Station' -->
      
      <!-- Stats -->
      div.stats
        p#lat Latitude: #{data.latitude}
        p#lon Longitude: #{data.longitude}
        p#alt Altitude: #{data.altitude}
        p#vel Velocity: #{data.velocity}
        p#vis Visibility: #{data.visibility}

    <!-- Map -->
    div#map.col-lg-12.col-md-12.col-sm-12.col-xs-12

    <!-- Live Video -->

    div#video.col-lg-12.col-md-12.col-sm-12.col-xs-12
      iframe(width="100%", height="100%", src="http://www.ustream.tv/embed/17074538?html5ui", scrolling="no", allowfullscreen, webkitallowfullscreen, frameborder="0", style="border: 0 none transparent;")
  

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='/javascripts/googleMap.js')
  script(src='/javascripts/nite-overlay.js')
  script(src='/javascripts/analytics.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCcyBT95IoltEkMk4_UGa9M6cJ-YHsBdlQ&callback=initMap')
