extends layout

block content

  div.wrapper
    div.top
      h1= 'International Space Station'
      div.stats
        p#lat Latitude: #{data.latitude}
        p#lon Longitude: #{data.longitude}
        p#alt Altitude: #{data.altitude}
        p#vel Velocity: #{data.velocity}
    div#map
  

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js')
  script(src='/javascripts/googleMap.js')
  script(src='/javascripts/nite-overlay.js')
  script(src='/javascripts/analytics.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCcyBT95IoltEkMk4_UGa9M6cJ-YHsBdlQ&callback=initMap')
